<div th:fragment="authenticated (user)">
    <nav class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container-fluid d-flex justify-content-between">
            <!-- Menu mobile -->
            <button class="btn btn-outline-light d-md-none" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#mobileAside">
                <i class="bi bi-list"></i>
            </button>

            <p class="h4 text-white m-0" th:text="${user} + '\'s files.'"></p>

            <!-- Mobile icons -->
            <div class="d-flex d-md-none">
                <button class="btn btn-outline-light me-2" type="button" data-bs-toggle="collapse"
                        data-bs-target="#mobileSearch">
                    <i class="bi bi-search"></i>
                </button>

                <button class="btn btn-outline-light" type="button" data-bs-toggle="offcanvas"
                        onclick="document.getElementById('signOutForm').submit()">
                    <i class="bi bi-box-arrow-right fs-3"></i>
                </button>
            </div>

            <!-- Search: desktop -->
            <form class="d-none d-md-flex ms-auto me-3" action="/search" method="get">
                <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

            <!-- Sign out: desktop -->
            <button type="submit" class="d-none btn btn-outline-danger" th:text="'Sign out ' + ${user}"
                    onclick="document.getElementById('signOutForm').submit()"></button>
        </div>

        <form id="signOutForm" action="/sign-out" method="post" style="display:none;">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </form>
    </nav>

    <!-- Collapse search mobile -->
    <div class="collapse d-md-none px-3" id="mobileSearch">
        <form class="d-flex mb-3" action="/search" method="get">
            <input class="form-control me-2" type="search" name="query" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</div>

<div th:fragment="anonymous">
    <div class="navbar navbar-dark bg-dark shadow-sm mb-3">
        <div class="container-fluid d-flex justify-content-between">
            <p class="h3 text-start text-white px-5">Cloud file storage</p>
            <div class="col-md-3 text-end">
                <a href="/sign-in`" class="btn btn-outline-primary me-2">Sign in</a>
                <a href="/sign-up" class="btn btn-primary">Sign up</a>
            </div>
        </div>
    </div>
</div>