<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div th:fragment="dialog-rename-folder ()">
    <div class="modal fade" id="rename-folder" tabindex="-1" role="dialog" aria-labelledby="add-folder-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-folder-label">Rename folder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="rename-folder-form" action="/rename-folder" method="post">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" id="folder-name" name="new-folder-name" class="form-control"/>
                            <input id="redirect-path" type="hidden" name="redirect-path">
                            <input id="current-folder-path" type="hidden" name="current-folder-path">
                            <label class="form-label" for="folder-name">New name of folder</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"
                            onclick="$('#rename-folder-form').submit();">Rename folder
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const renameFolderModal = document.getElementById('rename-folder')
        renameFolderModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;

            const folderNameInput = renameFolderModal.querySelector('#folder-name');
            const currentPathInput = renameFolderModal.querySelector('#current-folder-path')
            const redirectPathInput = renameFolderModal.querySelector('#redirect-path')

            folderNameInput.value = button.getAttribute('data-bs-name');
            currentPathInput.value = button.getAttribute('data-bs-current-path');
            redirectPathInput.value = button.getAttribute('data-bs-redirect-path');
        })
    </script>
</div>
</body>
</html>