<div th:fragment="dialog-rename-file ()">
    <div class="modal fade" id="rename-file" tabindex="-1" role="dialog" aria-labelledby="rename-file-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="rename-file-label">Rename file</h5>
                </div>
                <div class="modal-body">
                    <form id="rename-file-form" action="/rename-file" method="post">
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="text" id="new-file-name" name="new-file-name" class="form-control"/>
                            <input id="current-file-name" type="hidden" name="current-file-name">
                            <input id="parent-path" type="hidden" name="parent-path">
                            <label class="form-label" for="new-file-name">New name of file</label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary"
                            onclick="$('#rename-file-form').submit();">Rename file
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        const renameFileModal = document.getElementById('rename-file')
        renameFileModal.addEventListener('show.bs.modal', function (event) {
            const button = event.relatedTarget;

            const pathInput = renameFileModal.querySelector('#parent-path')
            const currentFileName = renameFileModal.querySelector('#current-file-name');
            const newFileName = renameFileModal.querySelector('#new-file-name');

            newFileName.value = button.getAttribute('data-bs-name');
            currentFileName.value = button.getAttribute('data-bs-name');
            pathInput.value = button.getAttribute('data-bs-parent-path');
        })
    </script>
</div>