<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>

<div th:fragment="files (storageObjects)">

    <table id="example" class="table table-bordered table-striped text-center px-2">
        <thead>
        <tr>
            <th class="col-1">Icon</th>
            <th class="col-8 text-start">Name</th>
            <th class="col-1">Size</th>
            <th class="col-1">Download</th>
            <th class="col-1">Rename</th>
            <th class="col-1">Delete</th>
        </tr>
        </thead>
        <tbody>
        <!-- @thymesVar id="item" type="ru.denisovmaksim.cloudfilestorage.dto.StorageObjectDTO" -->
        <tr th:each="item : ${storageObjects}" th:switch="${#strings.toString(item.getType())}">
            <!-- Icon -->
            <td th:switch="${item.getType().name()}">
                <i th:case="'FOLDER'" class="bi bi-folder h5 text-secondary"></i>
                <i th:case="*" class="bi bi-file-binary h5 text-secondary"></i>
            </td>

            <!-- Name -->
            <td class="text-start" th:switch="${item.getType().name()}">
                <a th:case="'FOLDER'" th:href="@{/(path=${item.getParentDir()})}" th:text="${item.getName()}"></a>
                <a th:case="*" th:href="@{download(path=${item.getParentDir()})}" th:text="${item.getName()}"></a>
            </td>

            <!-- Size -->
            <td th:switch="${item.getType().name()}">
                <i th:case="'FOLDER'" th:text="${item.getSize() == 0 ? 'Empty' : item.getSize() + (item.getSize() == 1 ? ' object' : ' objects')}"></i>
                <i th:case="*" th:text="${item.getSize() / 1024} + ' KB'"></i>
            </td>

            <!-- Download button -->
            <td th:switch="${item.getType().name()}">
                <a th:case="'FOLDER'" th:href="@{download-folder(path=${item.getParentDir()})}">
                    <button type="button" class="btn btn-light text-success">
                        <i class="bi bi-save"></i>
                    </button>
                </a>
                <a th:case="*" th:href="@{download(path=${item.getParentDir()})}">
                    <button type="button" class="btn btn-light text-success">
                        <i class="bi bi-cloud-download"></i>
                    </button>
                </a>
            </td>

            <!-- Rename button -->
            <td th:switch="${item.getType().name()}">
                <button th:case="'FOLDER'" type="button" class="btn btn-light"
                        th:data-bs-name="${item.getName()}"
                        th:data-bs-current-path="${item.getParentDir()}"
                        th:data-bs-redirect-path="${currentPath}"
                        data-bs-toggle="modal" data-bs-target="#rename-folder">
                    <i class="bi bi-pencil-square text-primary"></i>
                </button>
                <button th:case="*" type="button" class="btn btn-light"
                        th:data-bs-name="${item.getName()}"
                        th:data-bs-parent-path="${currentPath}"
                        data-bs-toggle="modal" data-bs-target="#rename-file">
                    <i class="bi bi-pencil-square text-primary"></i>
                </button>
            </td>

            <!-- Delete Button -->
            <td th:switch="${item.getType().name()}">
                <form th:case="'FOLDER'" action="/delete-folder" method="POST">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="hidden" name="redirect-path" th:value="${currentPath}" />
                    <input type="hidden" name="folder-path" th:value="${item.getParentDir()}" />
                    <button type="submit" class="btn btn-light">
                        <i class="bi bi-trash-fill text-danger"></i>
                    </button>
                </form>
                <form th:case="*" action="/delete-file" method="POST">
                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <input type="hidden" name="parent-path" th:value="${currentPath}" />
                    <input type="hidden" name="file-name" th:value="${item.getName()}" />
                    <button type="submit" class="btn btn-light">
                        <i class="bi bi-trash-fill text-danger"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
        <div th:insert="~{explorer/dialog-rename-folder}"></div>
        <div th:insert="~{explorer/dialog-rename-file}"></div>
    </table>
</div>