<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{common/decoration-layout.html}">

<section layout:fragment="content">
    <div th:replace="~{common/header::authenticated(${username})}"></div>

    <div th:replace="~{common/flash-message::flash-message (type=${flashType}, message=${flashMsg})}"></div>
    <div class="row">
        <main class="overflow-auto px-4">
            <nav aria-label="breadcrumb" style="--bs-breadcrumb-divider: '>';">
                <div class="row">
                    <div class="col-8">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                        </ol>
                    </div>
                </div>
            </nav>
            <div th:replace="~{explorer/files::files(${storageObjects})}"></div>
        </main>
    </div>
</section>
</html>