<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div th:fragment="creata-upload-bar">
    <div>
        <div class="row">
            <div class="float-end">
                <button type="button" class="btn btn-primary col-2 m-3 float-end" data-bs-toggle="modal"
                        data-bs-target="#add-folder">
                    Add folder
                </button>
                <button type="button" class="btn btn-primary col-2 m-3 float-end" data-bs-toggle="modal"
                        data-bs-target="#dialog-upload">
                    Upload
                </button>
            </div>
        </div>
    </div>
</div>
</body>
</html>