<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div th:fragment="authenticated (user)">
    <div class="navbar navbar-dark bg-dark shadow-sm mb-3">
        <div class="container-fluid d-flex justify-content-between">
            <p class="h3 text-start text-white px-5" th:text="${user} + '\'s files.'"></p>
            <div class="col-md-3 text-end">
                <a href="/sign-out" class="btn btn-outline-danger" th:text="'Sign out    ' + ${user}"></a>
            </div>
        </div>
    </div>
</div>

<div th:fragment="anonymous">
    <div class="navbar navbar-dark bg-dark shadow-sm mb-3">
        <div class="container-fluid d-flex justify-content-between">
            <p class="h3 text-start text-white px-5">Cloud file storage</p>
            <div class="col-md-3 text-end">
                <a href="/sign-in`" class="btn btn-outline-primary me-2">Sign in</a>
                <a href="/sign-up" class="btn btn-primary">Sign up</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>