<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div th:fragment="side-bar">
    <div>
        <div class="row">
            <button type="button" class="btn btn-primary col m-3" data-bs-toggle="modal" data-bs-target="#add-folder">
                Add folder
            </button>
        </div>

        <div class="row">
            <button type="button" class="btn btn-primary col m-3" data-bs-toggle="modal" data-bs-target="#dialog-upload">
               Upload
            </button>
        </div>
    </div>
</div>
</body>
</html>