<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/decoration-layout.html}">
<!-- https://frontbackend.com/thymeleaf/spring-boot-bootstrap-thymeleaf-table -->
<section layout:fragment="content">

    <div th:replace="~{fragments/header::authenticated(${username})}"></div>

    <div th:replace="~{fragments/flash-message::flash-message (type=${flashType}, message=${flashMsg})}"></div>

    <div class="row">
        <main class="overflow-auto px-4">
            <div th:replace="~{fragments/create-upload-bar :: create-upload-bar}"></div>
            <div th:replace="~{fragments/breadcrumbs-path :: breadcrumbs-path (${breadcrumbs})}"></div>
            <div th:replace="~{fragments/files::files(${storageObjects})}"></div>
        </main>
    </div>
</section>
</html>