<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{fragments/decoration-layout.html}">
<!-- https://frontbackend.com/thymeleaf/spring-boot-bootstrap-thymeleaf-table -->
<section layout:fragment="content">

    <div th:insert="~{fragments/header::authenticated(${username})}"></div>

    <div th:insert="~{fragments/flash-message::flash-message (type=${flashType}, message=${flashMsg})}"></div>

    <div class="row">

        <main class="overflow-auto px-4">

            <div th:insert="~{fragments/breadcrumbs-path :: breadcrumbs-path (${breadcrumbs})}"></div>

            <div th:insert="~{fragments/dialog-create-folder :: dialog-create-folder (${currentPath})}"></div>
            <div th:insert="~{fragments/dialog-upload :: dialog-upload (${currentPath})}"></div>

            <div th:insert="~{fragments/files::files(${storageObjects})}"></div>

        </main>
    </div>

</section>
</html>